In [43]:
import numpy as np
import pandas as pd

In [44]:
print(dir(pd))
	
animal = ["tiger", "bear", "eagle", "lion"]
print(pd.Series(animal))

['BooleanDtype', 'Categorical', 'CategoricalDtype', 'CategoricalIndex', 'DataFrame', 'DateOffset', 'DatetimeIndex', 'DatetimeTZDtype', 'ExcelFile', 'ExcelWriter', 'Flags', 'Float32Dtype', 'Float64Dtype', 'Float64Index', 'Grouper', 'HDFStore', 'Index', 'IndexSlice', 'Int16Dtype', 'Int32Dtype', 'Int64Dtype', 'Int64Index', 'Int8Dtype', 'Interval', 'IntervalDtype', 'IntervalIndex', 'MultiIndex', 'NA', 'NaT', 'NamedAgg', 'Period', 'PeriodDtype', 'PeriodIndex', 'RangeIndex', 'Series', 'SparseDtype', 'StringDtype', 'Timedelta', 'TimedeltaIndex', 'Timestamp', 'UInt16Dtype', 'UInt32Dtype', 'UInt64Dtype', 'UInt64Index', 'UInt8Dtype', '__builtins__', '__cached__', '__doc__', '__docformat__', '__file__', '__getattr__', '__git_version__', '__loader__', '__name__', '__package__', '__path__', '__spec__', '__version__', '_config', '_hashtable', '_is_numpy_dev', '_lib', '_libs', '_np_version_under1p18', '_testing', '_tslib', '_typing', '_version', 'api', 'array', 'arrays', 'bdate_range', 'compat', 'concat', 'core', 'crosstab', 'cut', 'date_range', 'describe_option', 'errors', 'eval', 'factorize', 'get_dummies', 'get_option', 'infer_freq', 'interval_range', 'io', 'isna', 'isnull', 'json_normalize', 'lreshape', 'melt', 'merge', 'merge_asof', 'merge_ordered', 'notna', 'notnull', 'offsets', 'option_context', 'options', 'pandas', 'period_range', 'pivot', 'pivot_table', 'plotting', 'qcut', 'read_clipboard', 'read_csv', 'read_excel', 'read_feather', 'read_fwf', 'read_gbq', 'read_hdf', 'read_html', 'read_json', 'read_orc', 'read_parquet', 'read_pickle', 'read_sas', 'read_spss', 'read_sql', 'read_sql_query', 'read_sql_table', 'read_stata', 'read_table', 'read_xml', 'reset_option', 'set_eng_float_format', 'set_option', 'show_versions', 'test', 'testing', 'timedelta_range', 'to_datetime', 'to_numeric', 'to_pickle', 'to_timedelta', 'tseries', 'unique', 'util', 'value_counts', 'wide_to_long']
0    tiger
1     bear
2    eagle
3     lion
dtype: object

In [45]:
numbers = [1, 2,3,4,5,6, None]
print(pd.Series(numbers))

# NaN is used as a marker for missing data instead of None for computational speed and convenience

capitals = {"Korea" : "Seoul", "Japan": "Tokyo", "China":"Beijing", "USA":"DC"}

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    NaN
dtype: float64

In [46]:


s = pd.Series(capitals)


print(s.index)


print(s.values)

Index(['Korea', 'Japan', 'China', 'USA'], dtype='object')
['Seoul' 'Tokyo' 'Beijing' 'DC']

In [47]:

countries = ["Austria", "Belgium", "Canada", "Cuba"]

cities = ["Vienna", "Brussels", "Ottawa", "ABNA"]

t = pd.Series(cities, index = countries)

In [48]:
print(t)


print(t.loc["Austria"])
print(t.iloc[0])

Austria      Vienna
Belgium    Brussels
Canada       Ottawa
Cuba           ABNA
dtype: object
Vienna
Vienna

In [49]:
v = pd.Series([1,2,3,4,5,6], index=[0,1,2,3,4,5])


print(v)
print(v[0])


total = 0
for i in range(6):
	total+= v[i]

print(total)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
1
21

In [50]:
v = pd.Series([1,2,3,4,5,6], index=[0,1,2,3,4,5])


print(v)
print(v[0])
total = 0
for i in range(6):
	total+= v[i]

print(total)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
1
21

In [51]:
w = pd.Series(np.random.randint(0,1000,10000)) # this creates a big Series of random integer 
print(w)
	
print(w.head())

print()
print(w.tail())

0       721
1        38
2        96
3       583
4       202
       ...
9995    919
9996    189
9997    254
9998    543
9999      0
Length: 10000, dtype: int64
0    721
1     38
2     96
3    583
4    202
dtype: int64

9995    919
9996    189
9997    254
9998    543
9999      0
dtype: int64

In [52]:
%%timeit -n 100
total = 0 
for item in w:
    total += item

# print(total)

631 µs ± 29.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [53]:
%%timeit -n 100
total = np.sum(w)

23.2 µs ± 3.12 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [54]:
print(w.head())

0    721
1     38
2     96
3    583
4    202
dtype: int64

In [55]:
for label, value in w.iteritems():
    w[label] += 10

print(w.head())

0    731
1     48
2    106
3    593
4    212
dtype: int64

In [56]:
%%timeit -n 10
for label, value in w.iteritems():
    w[label] = value + 10

18.8 ms ± 205 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [57]:
%%timeit -n 10
w = pd.Series(np.random.randint(0,1000,10000))
w += 10

126 µs ± 76 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [58]:
print(s)

Korea      Seoul
Japan      Tokyo
China    Beijing
USA           DC
dtype: object

In [59]:
s["Egypt"] = "Kairo"

In [60]:
print(t)

Austria      Vienna
Belgium    Brussels
Canada       Ottawa
Cuba           ABNA
dtype: object

In [61]:
s = s.append(t)

In [62]:
print(s)

Korea         Seoul
Japan         Tokyo
China       Beijing
USA              DC
Egypt         Kairo
Austria      Vienna
Belgium    Brussels
Canada       Ottawa
Cuba           ABNA
dtype: object

In [63]:
print(s.drop("USA"))

Korea         Seoul
Japan         Tokyo
China       Beijing
Egypt         Kairo
Austria      Vienna
Belgium    Brussels
Canada       Ottawa
Cuba           ABNA
dtype: object

In [64]:
print(s)

Korea         Seoul
Japan         Tokyo
China       Beijing
USA              DC
Egypt         Kairo
Austria      Vienna
Belgium    Brussels
Canada       Ottawa
Cuba           ABNA
dtype: object

In [66]:
x = pd.Series(s, index=["Korea", "Canada","Egypt", "Mexico" ])
x

Korea      Seoul
Canada    Ottawa
Egypt      Kairo
Mexico       NaN
dtype: object

In [ ]:
# DataFrame
# Creating DataFrame

In [68]:
punchase_1 = pd.Series({"name" : 'David', "item Purchase" : "TV", "Cost" : 1000})
punchase_2 = pd.Series({"name" : 'Jane', "item Purchase" : "Laptop", "Cost" : 1500})
punchase_3 = pd.Series({"name" : 'Kevin', "item Purchase" : "Car", "Cost" : 20000})

In [ ]:
df = pd.DataFrame([punchase_1, punchase_2, punchase_3], index=['Store 1', 'Store 2', 'Store 3'])