In [96]:
import pandas as pd

In [97]:
import numpy as np

In [98]:
df = pd.DataFrame(np.random.randint(0, 10, 12).reshape(3, 4), 
                  columns = ['a', 'b', 'c', 'd'], 
                  index = ['one', 'two', 'three'])

In [99]:
print(df)

       a  b  c  d
one    7  5  7  1
two    5  5  3  5
three  9  2  4  9

In [100]:
f = lambda x : x.max() - x.min() # lambda arguments : expression

In [101]:
df.apply(f)

a    4
b    3
c    4
d    8
dtype: int64

In [102]:
df.apply(f, axis = 1)

one      6
two      2
three    7
dtype: int64

In [103]:
s = pd.Series([2, 3, 5, 7, 11], index = ['a', 'b', 'c', 'd', 'e'])

In [104]:
print(s)

a     2
b     3
c     5
d     7
e    11
dtype: int64

In [105]:
g = lambda x : x ** x

In [106]:
s.map(g)

a               4
b              27
c            3125
d          823543
e    285311670611
dtype: int64

In [107]:
# df.map(g)

In [108]:
df.applymap(g)

               a     b       c          d
one       823543  3125  823543          1
two         3125  3125      27       3125
three  387420489     4     256  387420489

In [109]:
df.applymap(np.sqrt)

              a         b         c         d
one    2.645751  2.236068  2.645751  1.000000
two    2.236068  2.236068  1.732051  2.236068
three  3.000000  1.414214  2.000000  3.000000

In [110]:
df.apply(np.sqrt)

              a         b         c         d
one    2.645751  2.236068  2.645751  1.000000
two    2.236068  2.236068  1.732051  2.236068
three  3.000000  1.414214  2.000000  3.000000

In [111]:
def h(x):
  return 3 * x - 1

In [112]:
df.applymap(h)

        a   b   c   d
one    20  14  20   2
two    14  14   8  14
three  26   5  11  26

In [113]:
df1 = pd.DataFrame(np.random.randint(0, 10, 12).reshape(3, 4),
                   index = ['three', 'two', 'one'],
                   columns = ['c', 'a', 'b', 'd'])

In [114]:
print(df1)

       c  a  b  d
three  0  4  7  2
two    1  3  4  5
one    1  5  2  3

In [115]:
df1.sort_index()

       c  a  b  d
one    1  5  2  3
three  0  4  7  2
two    1  3  4  5

In [116]:
df1.sort_index(axis = 1)

       a  b  c  d
three  4  7  0  2
two    3  4  1  5
one    5  2  1  3

In [117]:
df1.sort_index(axis = 'columns')

       a  b  c  d
three  4  7  0  2
two    3  4  1  5
one    5  2  1  3

In [118]:
df1.sort_index(axis = 1).sort_index(axis = 0)

       a  b  c  d
one    5  2  1  3
three  4  7  0  2
two    3  4  1  5

In [119]:
print(df1)

       c  a  b  d
three  0  4  7  2
two    1  3  4  5
one    1  5  2  3

In [120]:
df2 = df1.sort_index(axis = 1)

In [121]:
print(df2)

       a  b  c  d
three  4  7  0  2
two    3  4  1  5
one    5  2  1  3

In [122]:
print(df1)

       c  a  b  d
three  0  4  7  2
two    1  3  4  5
one    1  5  2  3

In [123]:
df1.sort_index(axis = 1, ascending=False)

       d  c  b  a
three  2  0  7  4
two    5  1  4  3
one    3  1  2  5

In [124]:
print(s)

a     2
b     3
c     5
d     7
e    11
dtype: int64

In [125]:
s['i'] = np.nan

In [126]:
s['A'] = np.nan

In [127]:
print(s)

a     2.0
b     3.0
c     5.0
d     7.0
e    11.0
i     NaN
A     NaN
dtype: float64

In [128]:
s.sort_index()

A     NaN
a     2.0
b     3.0
c     5.0
d     7.0
e    11.0
i     NaN
dtype: float64

In [129]:
s.sort_index(ascending=False)

i     NaN
e    11.0
d     7.0
c     5.0
b     3.0
a     2.0
A     NaN
dtype: float64

In [130]:
s.sort_values()

a     2.0
b     3.0
c     5.0
d     7.0
e    11.0
i     NaN
A     NaN
dtype: float64

In [131]:
s.sort_values(ascending=False)

e    11.0
d     7.0
c     5.0
b     3.0
a     2.0
i     NaN
A     NaN
dtype: float64

In [132]:
print(df)

       a  b  c  d
one    7  5  7  1
two    5  5  3  5
three  9  2  4  9

In [133]:
# df.sort_values()

In [134]:
df.sort_values(by='b')

       a  b  c  d
three  9  2  4  9
one    7  5  7  1
two    5  5  3  5

In [135]:
df.sort_values(by='d')

       a  b  c  d
one    7  5  7  1
two    5  5  3  5
three  9  2  4  9

In [136]:
df.sort_values(by='d', ascending=False)

       a  b  c  d
three  9  2  4  9
two    5  5  3  5
one    7  5  7  1

In [137]:
# df.sort_values(by='one')

In [138]:
df.sort_values(by='one', axis=1)

       d  b  a  c
one    1  5  7  7
two    5  5  5  3
three  9  2  9  4

In [139]:
df.sort_values(by=['b', 'd'])

       a  b  c  d
three  9  2  4  9
one    7  5  7  1
two    5  5  3  5

In [140]:
s2 = pd.Series([6, 8, 8, 4, 8],
               index=['a', 'b', 'c', 'd', 'e'])

In [141]:
print(s2)

a    6
b    8
c    8
d    4
e    8
dtype: int64

In [142]:
s2.rank()

a    2.0
b    4.0
c    4.0
d    1.0
e    4.0
dtype: float64

In [143]:
s2.rank(method='first')

a    2.0
b    3.0
c    4.0
d    1.0
e    5.0
dtype: float64

In [144]:
s2.rank(method='max')

a    2.0
b    5.0
c    5.0
d    1.0
e    5.0
dtype: float64

In [145]:
s2.rank(method='min')

a    2.0
b    3.0
c    3.0
d    1.0
e    3.0
dtype: float64

In [146]:
# duplicate labels and values

In [147]:
s3 = pd.Series(np.random.randint(0, 10, 7), 
               index = ['a', 'a', 'b', 'b', 'c', 'c', 'c'])

In [148]:
print(s3)

a    4
a    1
b    7
b    0
c    3
c    8
c    3
dtype: int64

In [149]:
s3['a']

a    4
a    1
dtype: int64

In [150]:
s3['b']

b    7
b    0
dtype: int64

In [151]:
s3['c']

c    3
c    8
c    3
dtype: int64

In [152]:
s3.index.is_unique

False

In [153]:
s4 = pd.Series(np.random.randint(0, 3, 10))

In [154]:
print(s4)

0    2
1    0
2    2
3    1
4    0
5    0
6    1
7    2
8    2
9    2
dtype: int64

In [155]:
s4.is_unique

False

In [156]:
s4.unique()

array([2, 0, 1])

In [157]:
df3 = pd.DataFrame(np.random.randint(0, 10, 9).reshape(3, 3),
                   index=['a', 'a', 'b'])

In [158]:
print(df3)

   0  1  2
a  3  2  3
a  5  8  7
b  5  9  9

In [159]:
df3.loc['a']

   0  1  2
a  3  2  3
a  5  8  7

In [160]:
df3.loc['b']

0    5
1    9
2    9
Name: b, dtype: int64

In [161]:
type(df3.loc['a'])

pandas.core.frame.DataFrame

In [162]:
type(df3.loc['b'])

pandas.core.series.Series

In [163]:
df4 = pd.DataFrame(np.random.randint(0, 2, 10).reshape(5, 2))

In [164]:
print(df4)

   0  1
0  1  0
1  1  0
2  0  1
3  0  1
4  1  1

In [165]:
df4.duplicated()

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [166]:
df4.drop_duplicates()

   0  1
0  1  0
2  0  1
4  1  1

In [167]:
df4.duplicated([0])

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [205]:
print(df4)

   0  1
0  1  0
1  1  0
2  0  1
3  0  1
4  1  1

In [212]:
df4.duplicated([0])
print(df4.duplicated([1]))
print(type(df4))

0    False
1     True
2    False
3     True
4     True
dtype: bool
<class 'pandas.core.frame.DataFrame'>

In [170]:
df4.drop_duplicates([1])

   0  1
0  1  0
2  0  1

In [171]:
df4.drop_duplicates([1], keep='last')

   0  1
1  1  0
4  1  1

In [172]:
# Summarizing and computing statistics

In [173]:
df5 = pd.DataFrame(np.random.randn(12).reshape(3, 4), 
                   columns = ['a', 'b', 'c', 'd'])

In [174]:
print(df5)

          a         b         c         d
0 -0.510720  0.073447 -0.806309  0.463202
1  0.497176 -1.039922 -1.600029 -1.179295
2  0.545571 -2.028614 -0.754892 -1.282390

In [175]:
df5.loc[0]['b'] = np.nan

In [176]:
df5.loc[2]['c'] = np.nan

In [177]:
print(df5)

          a         b         c         d
0 -0.510720       NaN -0.806309  0.463202
1  0.497176 -1.039922 -1.600029 -1.179295
2  0.545571 -2.028614       NaN -1.282390

In [178]:
df5.count()

a    3
b    2
c    2
d    3
dtype: int64

In [179]:
df5.count(axis = 1)

0    3
1    4
2    3
dtype: int64

In [180]:
df5.sum()

a    0.532026
b   -3.068535
c   -2.406338
d   -1.998483
dtype: float64

In [181]:
df5.sum(axis = 1)

0   -0.853827
1   -3.322071
2   -2.765433
dtype: float64

In [182]:
df5.sum(skipna=False)

a    0.532026
b         NaN
c         NaN
d   -1.998483
dtype: float64

In [183]:
df5.describe()

              a         b         c         d
count  3.000000  2.000000  2.000000  3.000000
mean   0.177342 -1.534268 -1.203169 -0.666161
std    0.596371  0.699111  0.561245  0.979415
min   -0.510720 -2.028614 -1.600029 -1.282390
25%   -0.006772 -1.781441 -1.401599 -1.230843
50%    0.497176 -1.534268 -1.203169 -1.179295
75%    0.521373 -1.287095 -1.004739 -0.358047
max    0.545571 -1.039922 -0.806309  0.463202

In [184]:
s5 = pd.Series(['a', 'a', 'b', 'c', 'c', 'c'])

In [185]:
print(s5)

0    a
1    a
2    b
3    c
4    c
5    c
dtype: object

In [186]:
s5.describe()

count     6
unique    3
top       c
freq      3
dtype: object

In [187]:
s6 = pd.Series([2, 3, 5, 7, 11, 13])

In [188]:
print(s6)

0     2
1     3
2     5
3     7
4    11
5    13
dtype: int64

In [189]:
s6.describe()

count     6.000000
mean      6.833333
std       4.400758
min       2.000000
25%       3.500000
50%       6.000000
75%      10.000000
max      13.000000
dtype: float64

In [190]:
df5.min()

a   -0.510720
b   -2.028614
c   -1.600029
d   -1.282390
dtype: float64

In [191]:
print(df5)

          a         b         c         d
0 -0.510720       NaN -0.806309  0.463202
1  0.497176 -1.039922 -1.600029 -1.179295
2  0.545571 -2.028614       NaN -1.282390

In [192]:
df5.max()

a    0.545571
b   -1.039922
c   -0.806309
d    0.463202
dtype: float64

In [193]:
abs(df5).max()

a    0.545571
b    2.028614
c    1.600029
d    1.282390
dtype: float64

In [194]:
df5.mean()

a    0.177342
b   -1.534268
c   -1.203169
d   -0.666161
dtype: float64

In [195]:
df5.idxmin()

a    0
b    2
c    1
d    2
dtype: int64

In [196]:
print(df5)

          a         b         c         d
0 -0.510720       NaN -0.806309  0.463202
1  0.497176 -1.039922 -1.600029 -1.179295
2  0.545571 -2.028614       NaN -1.282390

In [197]:
df5.idxmax()

a    2
b    1
c    0
d    0
dtype: int64

In [198]:
df5.idxmin(axis=1)

0    c
1    c
2    b
dtype: object

In [199]:
df5.prod()

a   -0.138530
b    2.109600
c    1.290118
d    0.700508
dtype: float64

In [200]:
df5.var()

a    0.355658
b    0.488756
c    0.314996
d    0.959253
dtype: float64

In [201]:
df5.std()

a    0.596371
b    0.699111
c    0.561245
d    0.979415
dtype: float64

In [202]:
df5.cumsum()

          a         b         c         d
0 -0.510720       NaN -0.806309  0.463202
1 -0.013545 -1.039922 -2.406338 -0.716093
2  0.532026 -3.068535       NaN -1.998483

In [203]:
print(df5)

          a         b         c         d
0 -0.510720       NaN -0.806309  0.463202
1  0.497176 -1.039922 -1.600029 -1.179295
2  0.545571 -2.028614       NaN -1.282390

In [204]:
df5.cumprod()

          a         b         c         d
0 -0.510720       NaN -0.806309  0.463202
1 -0.253918 -1.039922  1.290118 -0.546252
2 -0.138530  2.109600       NaN  0.700508