In [ ]:
import pandas as pd

In [ ]:
# File I/O

In [ ]:
tips = pd.read_csv('tips.csv')

In [ ]:
print(tips)

     total_bill   tip smoker   day    time  size
0         16.99  1.01     No   Sun  Dinner     2
1         10.34  1.66     No   Sun  Dinner     3
2         21.01  3.50     No   Sun  Dinner     3
3         23.68  3.31     No   Sun  Dinner     2
4         24.59  3.61     No   Sun  Dinner     4
..          ...   ...    ...   ...     ...   ...
239       29.03  5.92     No   Sat  Dinner     3
240       27.18  2.00    Yes   Sat  Dinner     2
241       22.67  2.00    Yes   Sat  Dinner     2
242       17.82  1.75     No   Sat  Dinner     2
243       18.78  3.00     No  Thur  Dinner     2

[244 rows x 6 columns]

In [ ]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [ ]:
tips[['smoker', 'day', 'time']].describe()

       smoker  day    time
count     244  244     244
unique      2    4       2
top        No  Sat  Dinner
freq      151   87     176

In [ ]:
tips['smoker'].unique()

array(['No', 'Yes'], dtype=object)

In [ ]:
tips['day'].unique()

array(['Sun', 'Sat', 'Thur', 'Fri'], dtype=object)

In [ ]:
tips['time'].unique()

array(['Dinner', 'Lunch'], dtype=object)

In [ ]:
tips['tip_rate'] = tips['tip'] / tips['total_bill'] * 100

In [ ]:
tips.head()

   total_bill   tip smoker  day    time  size   tip_rate
0       16.99  1.01     No  Sun  Dinner     2   5.944673
1       10.34  1.66     No  Sun  Dinner     3  16.054159
2       21.01  3.50     No  Sun  Dinner     3  16.658734
3       23.68  3.31     No  Sun  Dinner     2  13.978041
4       24.59  3.61     No  Sun  Dinner     4  14.680765

In [ ]:
tips.to_csv('tip_rate.csv')

In [ ]:
tips2 = pd.read_csv('tip_rate.csv')

In [ ]:
tips2

     Unnamed: 0  total_bill   tip smoker   day    time  size   tip_rate
0             0       16.99  1.01     No   Sun  Dinner     2   5.944673
1             1       10.34  1.66     No   Sun  Dinner     3  16.054159
2             2       21.01  3.50     No   Sun  Dinner     3  16.658734
3             3       23.68  3.31     No   Sun  Dinner     2  13.978041
4             4       24.59  3.61     No   Sun  Dinner     4  14.680765
..          ...         ...   ...    ...   ...     ...   ...        ...
239         239       29.03  5.92     No   Sat  Dinner     3  20.392697
240         240       27.18  2.00    Yes   Sat  Dinner     2   7.358352
241         241       22.67  2.00    Yes   Sat  Dinner     2   8.822232
242         242       17.82  1.75     No   Sat  Dinner     2   9.820426
243         243       18.78  3.00     No  Thur  Dinner     2  15.974441

[244 rows x 8 columns]

In [ ]:
tips3 = pd.read_csv('tips.csv', nrows=3)

In [ ]:
tips3

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3

In [ ]:
# handling missing data

In [ ]:
import numpy as np

In [ ]:
s = pd.Series(['a', 'b', 'c', np.nan, 'e'])

In [ ]:
print(s)

0      a
1      b
2      c
3    NaN
4      e
dtype: object

In [ ]:
s.isnull()

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [ ]:
s.notnull()

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [ ]:
s.dropna()

0    a
1    b
2    c
4    e
dtype: object

In [ ]:
s.fillna(0)

0    a
1    b
2    c
3    0
4    e
dtype: object

In [ ]:
s.fillna(method='ffill')

0    a
1    b
2    c
3    c
4    e
dtype: object

In [ ]:
s.fillna(method='bfill')

0    a
1    b
2    c
3    e
4    e
dtype: object

In [ ]:
df = pd.DataFrame(np.random.randn(12).reshape(3, 4), columns=['a', 'b', 'c', 'd'])

In [ ]:
df.loc[0]['b'] = np.nan

In [ ]:
df.loc[2]['c'] = np.nan

In [ ]:
print(df)

          a         b         c         d
0 -0.119913       NaN  0.566978  0.104947
1  0.100164  0.808209  1.963072 -0.440254
2  1.697332  0.554660       NaN  0.163289

In [ ]:
df.isnull()

       a      b      c      d
0  False   True  False  False
1  False  False  False  False
2  False  False   True  False

In [ ]:
df.notnull()

      a      b      c     d
0  True  False   True  True
1  True   True   True  True
2  True   True  False  True

In [ ]:
df.dropna()

          a         b         c         d
1  0.100164  0.808209  1.963072 -0.440254

In [ ]:
df.dropna(axis=1)

          a         d
0 -0.119913  0.104947
1  0.100164 -0.440254
2  1.697332  0.163289

In [ ]:
df.dropna(how='all')

          a         b         c         d
0 -0.119913       NaN  0.566978  0.104947
1  0.100164  0.808209  1.963072 -0.440254
2  1.697332  0.554660       NaN  0.163289

In [ ]:
df['e'] = np.nan

In [ ]:
df

          a         b         c         d   e
0 -0.119913       NaN  0.566978  0.104947 NaN
1  0.100164  0.808209  1.963072 -0.440254 NaN
2  1.697332  0.554660       NaN  0.163289 NaN

In [ ]:
df.dropna(axis=1, how='all')

          a         b         c         d
0 -0.119913       NaN  0.566978  0.104947
1  0.100164  0.808209  1.963072 -0.440254
2  1.697332  0.554660       NaN  0.163289

In [ ]:
df.fillna(0.0)

          a         b         c         d    e
0 -0.119913  0.000000  0.566978  0.104947  0.0
1  0.100164  0.808209  1.963072 -0.440254  0.0
2  1.697332  0.554660  0.000000  0.163289  0.0

In [ ]:
df.fillna(df.mean())

          a         b         c         d   e
0 -0.119913  0.681435  0.566978  0.104947 NaN
1  0.100164  0.808209  1.963072 -0.440254 NaN
2  1.697332  0.554660  1.265025  0.163289 NaN

In [ ]:
df.fillna(0.0, inplace=True)

In [ ]:
df

          a         b         c         d    e
0 -0.119913  0.000000  0.566978  0.104947  0.0
1  0.100164  0.808209  1.963072 -0.440254  0.0
2  1.697332  0.554660  0.000000  0.163289  0.0

In [ ]:
df.replace(0.0, np.nan)

          a         b         c         d   e
0 -0.119913       NaN  0.566978  0.104947 NaN
1  0.100164  0.808209  1.963072 -0.440254 NaN
2  1.697332  0.554660       NaN  0.163289 NaN

In [ ]:
tips = pd.read_csv('tips.csv')

In [ ]:
tips.head()

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4

In [ ]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [ ]:
bins = [0, 10, 20, 30, 40, 50, 60]

In [ ]:
cats = pd.cut(tips['total_bill'], bins)

In [ ]:
cats

0      (10, 20]
1      (10, 20]
2      (20, 30]
3      (20, 30]
4      (20, 30]
         ...
239    (20, 30]
240    (20, 30]
241    (20, 30]
242    (10, 20]
243    (10, 20]
Name: total_bill, Length: 244, dtype: category
Categories (6, interval[int64, right]): [(0, 10] < (10, 20] < (20, 30] < (30, 40] < (40, 50] <
                                         (50, 60]]

In [ ]:
type(cats)

pandas.core.series.Series

In [ ]:
cats = pd.Categorical(cats)

In [ ]:
type(cats)

pandas.core.arrays.categorical.Categorical

In [ ]:
print(cats)

[(10, 20], (10, 20], (20, 30], (20, 30], (20, 30], ..., (20, 30], (20, 30], (20, 30], (10, 20], (10, 20]]
Length: 244
Categories (6, interval[int64, right]): [(0, 10] < (10, 20] < (20, 30] < (30, 40] < (40, 50] <
                                         (50, 60]]

In [ ]:
print(cats.codes)

[1 1 2 2 2 2 0 2 1 1 1 3 1 1 1 2 1 1 1 2 1 2 1 3 1 1 1 1 2 1 0 1 1 2 1 2 1
 1 1 3 1 1 1 0 3 1 2 3 2 1 1 1 3 0 2 1 3 2 1 4 2 1 1 1 1 2 1 0 2 1 1 1 2 2
 1 1 1 2 2 1 1 1 1 3 1 3 1 1 2 2 2 2 0 1 2 4 2 1 2 1 1 1 4 2 2 1 2 2 1 1 1
 0 3 2 2 1 2 1 1 2 1 1 1 1 1 2 0 1 1 2 1 2 1 1 1 0 1 1 1 1 1 3 4 2 1 0 1 1
 0 0 1 1 1 2 1 2 4 2 1 1 2 1 1 1 1 2 2 3 1 1 5 1 0 3 1 3 1 1 0 3 3 2 4 2 4
 2 2 3 1 2 1 1 2 1 1 0 1 4 1 1 1 1 1 1 2 1 2 3 2 1 3 2 4 1 2 1 2 1 0 3 1 1
 0 1 1 1 1 2 1 2 2 1 1 1 1 1 1 3 3 2 2 2 1 1]

In [ ]:
print(cats.categories)

IntervalIndex([(0, 10], (10, 20], (20, 30], (30, 40], (40, 50], (50, 60]], dtype='interval[int64, right]')

In [ ]:
pd.value_counts(cats)

(10, 20]    130
(20, 30]     65
(30, 40]     22
(0, 10]      17
(40, 50]      9
(50, 60]      1
dtype: int64

In [ ]:
qcats = pd.qcut(tips['total_bill'], 4)

In [ ]:
type(qcats)

pandas.core.series.Series

In [ ]:
qcats

0      (13.348, 17.795]
1       (3.069, 13.348]
2      (17.795, 24.127]
3      (17.795, 24.127]
4       (24.127, 50.81]
             ...
239     (24.127, 50.81]
240     (24.127, 50.81]
241    (17.795, 24.127]
242    (17.795, 24.127]
243    (17.795, 24.127]
Name: total_bill, Length: 244, dtype: category
Categories (4, interval[float64, right]): [(3.069, 13.348] < (13.348, 17.795] < (17.795, 24.127] <
                                           (24.127, 50.81]]

In [ ]:
qcats = pd.Categorical(qcats)

In [ ]:
type(qcats)

pandas.core.arrays.categorical.Categorical

In [ ]:
qcats.codes

array([1, 0, 2, 2, 3, 3, 0, 3, 1, 1, 0, 3, 1, 2, 1, 2, 0, 1, 1, 2, 2, 2,
       1, 3, 2, 2, 1, 0, 2, 2, 0, 2, 1, 2, 1, 2, 1, 1, 2, 3, 1, 1, 1, 0,
       3, 2, 2, 3, 3, 2, 0, 0, 3, 0, 3, 2, 3, 3, 0, 3, 2, 1, 0, 2, 1, 2,
       1, 0, 2, 1, 0, 1, 3, 3, 1, 0, 2, 3, 2, 1, 2, 1, 0, 3, 1, 3, 0, 2,
       3, 2, 3, 2, 0, 1, 2, 3, 3, 0, 2, 0, 0, 1, 3, 2, 2, 1, 2, 3, 2, 1,
       1, 0, 3, 2, 3, 1, 3, 0, 0, 2, 0, 1, 1, 1, 0, 3, 0, 1, 0, 2, 2, 2,
       0, 0, 2, 0, 0, 1, 1, 0, 1, 3, 3, 3, 1, 0, 2, 0, 0, 0, 1, 0, 1, 3,
       2, 3, 3, 3, 1, 1, 2, 0, 1, 1, 1, 3, 2, 3, 0, 0, 3, 1, 0, 3, 1, 3,
       2, 1, 0, 3, 3, 2, 3, 2, 3, 2, 2, 3, 2, 2, 1, 2, 3, 1, 1, 0, 0, 3,
       0, 1, 2, 0, 0, 1, 2, 1, 3, 3, 3, 0, 3, 3, 3, 0, 3, 0, 3, 0, 0, 3,
       0, 1, 0, 1, 1, 1, 0, 2, 0, 2, 2, 1, 0, 0, 1, 0, 0, 3, 3, 3, 3, 2,
       2, 2], dtype=int8)

In [ ]:
qcats.categories

IntervalIndex([(3.069, 13.348], (13.348, 17.795], (17.795, 24.127], (24.127, 50.81]], dtype='interval[float64, right]')

In [ ]:
pd.value_counts(qcats)

(3.069, 13.348]     61
(13.348, 17.795]    61
(17.795, 24.127]    61
(24.127, 50.81]     61
dtype: int64

In [ ]:
# permutation and random sampling

In [ ]:
tips

     total_bill   tip smoker   day    time  size
0         16.99  1.01     No   Sun  Dinner     2
1         10.34  1.66     No   Sun  Dinner     3
2         21.01  3.50     No   Sun  Dinner     3
3         23.68  3.31     No   Sun  Dinner     2
4         24.59  3.61     No   Sun  Dinner     4
..          ...   ...    ...   ...     ...   ...
239       29.03  5.92     No   Sat  Dinner     3
240       27.18  2.00    Yes   Sat  Dinner     2
241       22.67  2.00    Yes   Sat  Dinner     2
242       17.82  1.75     No   Sat  Dinner     2
243       18.78  3.00     No  Thur  Dinner     2

[244 rows x 6 columns]

In [ ]:
sampler = np.random.permutation(len(tips))

In [ ]:
print(sampler)

[204  80  82 243  37 229 233 107 230 147 242  33 223 130 127  59 128 166
  97 215 213   1  57 119 203  78 100 156 129  54 212  22   6  48 226 152
 177 122  24  77  43  81 121  87 183 202 163 238 241   3 146 143 231  75
  86 175  52  89 198 189 116  30  31 209 232 179 114 124 125  98 134 205
  12  16   9  94  60  58 158 109 236 140 155  51  42 104  71 187  79  35
 222 216 206 101 117 217  56 169 168 145 227 193 191  65 105  91 194  11
 234 144 139 192 132 199 108 131 159 126  90 228  27  76  13  69  95 110
  99  72 161  17 196  23  45  41 197 103 219 178 170 181  44  50 171 160
 200 184 224  83 218 176  46 210 113  96  38 102 165 173  40  68 174 185
 220  10  20 153 138  70 186 111  92 150 190 151  93  14 182 148 172  67
 136 201  39 207 195   5 188 211 167 133  49 180  26   2  61 221 164  85
  64 208  29 141 157  55  88 142  32 162   8 120  18   0  34  21  15 225
 123 137  47  28  62  63 115 112  53 154 118  36  73 106  74 135   4  84
 149 214   7  25 240  66 235 237 239  19]

In [ ]:
tips.take(sampler)

     total_bill   tip smoker   day    time  size
204       20.53  4.00    Yes  Thur   Lunch     4
80        19.44  3.00    Yes  Thur   Lunch     2
82        10.07  1.83     No  Thur   Lunch     1
243       18.78  3.00     No  Thur  Dinner     2
37        16.93  3.07     No   Sat  Dinner     3
..          ...   ...    ...   ...     ...   ...
66        16.45  2.47     No   Sat  Dinner     2
235       10.07  1.25     No   Sat  Dinner     2
237       32.83  1.17    Yes   Sat  Dinner     2
239       29.03  5.92     No   Sat  Dinner     3
19        20.65  3.35     No   Sat  Dinner     3

[244 rows x 6 columns]

In [ ]:
tips.head()

   total_bill   tip smoker  day    time  size
0       16.99  1.01     No  Sun  Dinner     2
1       10.34  1.66     No  Sun  Dinner     3
2       21.01  3.50     No  Sun  Dinner     3
3       23.68  3.31     No  Sun  Dinner     2
4       24.59  3.61     No  Sun  Dinner     4

In [ ]:
tips.sample(n=10)

     total_bill   tip smoker   day    time  size
208       24.27  2.03    Yes   Sat  Dinner     2
205       16.47  3.23    Yes  Thur   Lunch     3
137       14.15  2.00     No  Thur   Lunch     2
23        39.42  7.58     No   Sat  Dinner     4
152       17.26  2.74     No   Sun  Dinner     3
47        32.40  6.00     No   Sun  Dinner     4
112       38.07  4.00     No   Sun  Dinner     3
215       12.90  1.10    Yes   Sat  Dinner     2
209       12.76  2.23    Yes   Sat  Dinner     2
238       35.83  4.67     No   Sat  Dinner     3

In [ ]:
tips.sample(n=100).duplicated().unique()

array([False,  True])

In [ ]:
tips.sample(n=100, replace=False).duplicated().unique()

array([False])

In [ ]:
# tuple index

In [ ]:
index = [('Jane', 'Mathematics'), ('Tony', 'Mathematics'), ('Tom', 'Physics'), ('John', 'English'), ('Jane', 'English'), ('David', 'Physics'), ('John', 'Physics')]

In [ ]:
index

[('Jane', 'Mathematics'),
 ('Tony', 'Mathematics'),
 ('Tom', 'Physics'),
 ('John', 'English'),
 ('Jane', 'English'),
 ('David', 'Physics'),
 ('John', 'Physics')]

In [ ]:
score = [80, 90, 95, 70, 75, 100, 85]

In [ ]:
s1 = pd.Series(score, index=index)

In [ ]:
print(s1)

(Jane, Mathematics)     80
(Tony, Mathematics)     90
(Tom, Physics)          95
(John, English)         70
(Jane, English)         75
(David, Physics)       100
(John, Physics)         85
dtype: int64

In [ ]:
s1[[i for i in s1.index if i[0] == 'Jane']]

(Jane, Mathematics)    80
(Jane, English)        75
dtype: int64

In [ ]:
s1[[i for i in s1.index if i[1] == 'Physics']]

(Tom, Physics)       95
(David, Physics)    100
(John, Physics)      85
dtype: int64

In [ ]:
# multi index

In [ ]:
index = pd.MultiIndex.from_tuples(index)

In [ ]:
index

MultiIndex([( 'Jane', 'Mathematics'),
            ( 'Tony', 'Mathematics'),
            (  'Tom',     'Physics'),
            ( 'John',     'English'),
            ( 'Jane',     'English'),
            ('David',     'Physics'),
            ( 'John',     'Physics')],
           )

In [ ]:
s1 = s1.reindex(index)

In [ ]:
print(s1)

Jane   Mathematics     80
Tony   Mathematics     90
Tom    Physics         95
John   English         70
Jane   English         75
David  Physics        100
John   Physics         85
dtype: int64

In [ ]:
print(s1.index)

MultiIndex([( 'Jane', 'Mathematics'),
            ( 'Tony', 'Mathematics'),
            (  'Tom',     'Physics'),
            ( 'John',     'English'),
            ( 'Jane',     'English'),
            ('David',     'Physics'),
            ( 'John',     'Physics')],
           )

In [ ]:
print(s1.values)

[ 80  90  95  70  75 100  85]

In [ ]:
s1['Jane']

Mathematics    80
English        75
dtype: int64

In [ ]:
s1[:, 'Physics']

Tom       95
David    100
John      85
dtype: int64

In [ ]:
s1.unstack()

       English  Mathematics  Physics
David      NaN          NaN    100.0
Jane      75.0         80.0      NaN
John      70.0          NaN     85.0
Tom        NaN          NaN     95.0
Tony       NaN         90.0      NaN

In [ ]:
df1 = s1.unstack()

In [ ]:
df1.stack()

David  Physics        100.0
Jane   English         75.0
       Mathematics     80.0
John   English         70.0
       Physics         85.0
Tom    Physics         95.0
Tony   Mathematics     90.0
dtype: float64

In [ ]:
s1

Jane   Mathematics     80
Tony   Mathematics     90
Tom    Physics         95
John   English         70
Jane   English         75
David  Physics        100
John   Physics         85
dtype: int64

In [ ]:
# data structure with MultiIndex

In [ ]:
df2 = pd.DataFrame(np.random.randn(6, 3), index=[['a', 'a', 'a', 'b', 'b', 'c'], ['1', '2', '3', '1', '2', '1']], columns=['one', 'two', 'three'])

In [ ]:
df2

          one       two     three
a 1  2.248781  1.183181  2.074919
  2  0.476940  1.031735  0.525208
  3  0.839689  1.096445  0.829619
b 1 -1.496690 -0.263805  1.572274
  2 -1.112294  0.977245  1.962905
c 1  0.242707 -1.114203  0.218070

In [ ]:
pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], ['1', '2', '1', '2']])

MultiIndex([('a', '1'),
            ('a', '2'),
            ('b', '1'),
            ('b', '2')],
           )

In [ ]:
pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [ ]:
pd.MultiIndex.from_product([['a', 'b'], [1, 2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [ ]:
pd.DataFrame(np.random.randn(4).reshape(4, 1), index=pd.MultiIndex.from_product([['a', 'b'], [1, 2]]))

            0
a 1 -0.968457
  2 -1.275366
b 1 -0.799997
  2 -1.011266

In [ ]:
index = pd.MultiIndex.from_product([['a', 'b'], [0, 1]])

In [ ]:
columns = pd.MultiIndex.from_product([['one', 'two', 'three'], [1, 2]])

In [ ]:
df3 = pd.DataFrame(np.random.rand(4, 6), index=index, columns=columns)

In [ ]:
print(df3)

          one                 two               three
            1         2         1         2         1         2
a 0  0.258514  0.094828  0.959418  0.705303  0.154830  0.972884
  1  0.385689  0.642582  0.516980  0.630825  0.632527  0.474898
b 0  0.844737  0.959391  0.003735  0.000907  0.069269  0.702062
  1  0.121344  0.306967  0.198801  0.901503  0.082345  0.124021

In [ ]:
# index and slicing

In [ ]:
s1

Jane   Mathematics     80
Tony   Mathematics     90
Tom    Physics         95
John   English         70
Jane   English         75
David  Physics        100
John   Physics         85
dtype: int64

In [ ]:
s1['Jane', 'English']

75

In [ ]:
s1['Jane']

Mathematics    80
English        75
dtype: int64

In [ ]:
s1[:, 'Physics']

Tom       95
David    100
John      85
dtype: int64

In [ ]:
s1[s1 > 90]

Tom    Physics     95
David  Physics    100
dtype: int64

In [ ]:
s1[['Jane', 'David']]

Jane   Mathematics     80
       English         75
David  Physics        100
dtype: int64

In [ ]:
df3

          one                 two               three
            1         2         1         2         1         2
a 0  0.258514  0.094828  0.959418  0.705303  0.154830  0.972884
  1  0.385689  0.642582  0.516980  0.630825  0.632527  0.474898
b 0  0.844737  0.959391  0.003735  0.000907  0.069269  0.702062
  1  0.121344  0.306967  0.198801  0.901503  0.082345  0.124021

In [ ]:
df3['one', 1]

a  0    0.258514
   1    0.385689
b  0    0.844737
   1    0.121344
Name: (one, 1), dtype: float64

In [ ]:
df3.iloc[0:2, 0:2]

          one
            1         2
a 0  0.258514  0.094828
  1  0.385689  0.642582

In [ ]:
df3.loc['a']

        one                 two               three
          1         2         1         2         1         2
0  0.258514  0.094828  0.959418  0.705303  0.154830  0.972884
1  0.385689  0.642582  0.516980  0.630825  0.632527  0.474898

In [ ]:
df3.loc['a', 1]

one    1    0.385689
       2    0.642582
two    1    0.516980
       2    0.630825
three  1    0.632527
       2    0.474898
Name: (a, 1), dtype: float64

In [ ]:
df3.loc[:, 'two']

            1         2
a 0  0.959418  0.705303
  1  0.516980  0.630825
b 0  0.003735  0.000907
  1  0.198801  0.901503

In [ ]:
df3.loc[:, ('two', 1)]

a  0    0.959418
   1    0.516980
b  0    0.003735
   1    0.198801
Name: (two, 1), dtype: float64

In [ ]:
df3.loc['a', ('two', 1)]

0    0.959418
1    0.516980
Name: (two, 1), dtype: float64

In [ ]:
df3.loc[('a', 1), 'two']

1    0.516980
2    0.630825
Name: (a, 1), dtype: float64

In [ ]:
print(s1.index)

MultiIndex([( 'Jane', 'Mathematics'),
            ( 'Tony', 'Mathematics'),
            (  'Tom',     'Physics'),
            ( 'John',     'English'),
            ( 'Jane',     'English'),
            ('David',     'Physics'),
            ( 'John',     'Physics')],
           )

In [ ]:
s1.index.names = ['name', 'subject']

In [ ]:
print(s1)

name   subject
Jane   Mathematics     80
Tony   Mathematics     90
Tom    Physics         95
John   English         70
Jane   English         75
David  Physics        100
John   Physics         85
dtype: int64

In [ ]:
s1.unstack()

subject  English  Mathematics  Physics
name
David        NaN          NaN    100.0
Jane        75.0         80.0      NaN
John        70.0          NaN     85.0
Tom          NaN          NaN     95.0
Tony         NaN         90.0      NaN

In [ ]:
s1.unstack(level=0)

name         David  Jane  John   Tom  Tony
subject
English        NaN  75.0  70.0   NaN   NaN
Mathematics    NaN  80.0   NaN   NaN  90.0
Physics      100.0   NaN  85.0  95.0   NaN

In [ ]:
s1.unstack(level=1)

subject  English  Mathematics  Physics
name
David        NaN          NaN    100.0
Jane        75.0         80.0      NaN
John        70.0          NaN     85.0
Tom          NaN          NaN     95.0
Tony         NaN         90.0      NaN

In [ ]:
# aggregation

In [ ]:
df3

          one                 two               three
            1         2         1         2         1         2
a 0  0.258514  0.094828  0.959418  0.705303  0.154830  0.972884
  1  0.385689  0.642582  0.516980  0.630825  0.632527  0.474898
b 0  0.844737  0.959391  0.003735  0.000907  0.069269  0.702062
  1  0.121344  0.306967  0.198801  0.901503  0.082345  0.124021

In [ ]:
df3.sum(level=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  """Entry point for launching an IPython kernel.

        one                 two               three
          1         2         1         2         1         2
a  0.644204  0.737410  1.476397  1.336128  0.787357  1.447782
b  0.966081  1.266357  0.202535  0.902410  0.151614  0.826083

In [ ]:
df3.swaplevel(0, 1)

          one                 two               three
            1         2         1         2         1         2
0 a  0.258514  0.094828  0.959418  0.705303  0.154830  0.972884
1 a  0.385689  0.642582  0.516980  0.630825  0.632527  0.474898
0 b  0.844737  0.959391  0.003735  0.000907  0.069269  0.702062
1 b  0.121344  0.306967  0.198801  0.901503  0.082345  0.124021

In [ ]:
df3.swaplevel(0, 1, axis=1)

            1         2         1         2         1         2
          one       one       two       two     three     three
a 0  0.258514  0.094828  0.959418  0.705303  0.154830  0.972884
  1  0.385689  0.642582  0.516980  0.630825  0.632527  0.474898
b 0  0.844737  0.959391  0.003735  0.000907  0.069269  0.702062
  1  0.121344  0.306967  0.198801  0.901503  0.082345  0.124021